.accordion {
  background-color: var(--mainL-color);
  position: relative;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  margin-top: 55px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  max-height: 55px;
  transition: max-height 2s ease-in-out, margin-top 0.4s linear;
  overflow: hidden;
  border-radius: 3px;
  .arrow {
    position: absolute;
    right: 20px;
    top: 13px;
    transform: rotateX(0deg);
    transition: transform 1.3s ease;
  }
  .accortion-title {
    font-size: 1.5rem;
    padding-bottom: 15px;
    text-align: center;
    @media only screen and (max-width: 1040px) {
      font-size: 1.3rem;
    }
  }
  &:active {
    max-height: 55px;
  }
  @media only screen and (max-width: 1040px) {
    margin-top: 0px;
  }
  .panel {
    border-radius: 3px;
    cursor: default;
    opacity: 0.9;
    padding: 12px 18px;
    background-color: rgb(255, 237, 253);
    &:nth-child(even) {
      background-color: var(--mainL-color);
    }
  }
}
.extended {
  margin-top: 0px;
  max-height: 5000px;
  .arrow {
    transform: rotateX(520deg);
  }
}
