.banner {
  color: rgb(255, 255, 255);
  cursor: default;
  font-size: 0.9rem;
  .new {
    position: absolute;
    background-color: var(--main-color);
    transform: rotate(-45deg);
    top: 14px;
    left: -46px;
    width: 140px;
  }
  .sale {
    position: absolute;
    background-color: #f87800;
    transform: rotate(-45deg);
    top: 30px;
    left: -30px;
    width: 140px;
  }
}
