.cart-container {
  .remove-button {
    position: absolute;
    top: 15px;
    margin-left: 0px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 0.8rem;
    top: 6;
    right: 20px;
    padding: 5px 12px;
    background-color: red;
    color: var(--text-color);
    &:hover {
      background-color: var(--mainL-color);
    }
    &:focus {
      outline: none;
    }
    &:active {
      transform: scale(0.87);
    }
  }
  .item-card-box {
    .add-price {
      align-self: end;
      justify-content: space-between;
      width: 280px;
      .amount-container {
        .amount {
          background-color: var(--mainL-color);
          align-self: center;
          padding: 1px 6px;
          width: 30px;
          font-weight: 900;
          margin: 1px;
          font-size: 1.2rem;
          color: var(--text-color);
        }
        .add-button {
          padding: 1px 6px;
          width: 30px;
        }
        display: grid;
        grid-template-columns: auto auto auto;
      }
    }
  }
}
.empty-notice {
  margin-top: 20vh;
  max-width: 80vw;
  justify-self: center;
  align-self: center;
  color: rgb(248, 133, 2);
}
.other-products {
  margin-top: 30px;
  width: 700px;
  justify-self: center;
  align-self: end;
  @media only screen and (max-width: 700px) {
    width: 350px;
  }
}
.checkout-button {
  border-radius: 5px;
  justify-self: center;
  margin-top: 30px;
  max-width: 350px;
  border: none;
  font-weight: 800;
  font-size: 1.2rem;
  top: 6;
  right: 20px;
  padding: 8px 12px;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 3px 3px 3px 2px rgba(82, 82, 82, 0.13);
  &:hover {
    box-shadow: 0 0 3pt 2pt var(--mainL-color);
  }
  &:focus {
    box-shadow: 0 0 3pt 2pt var(--mainL-color);
  }
}
.delivery-info {
  margin-top: 30px;
  padding: 20px;
  background: white;
  color: var(--main-color);
}
