.form-container {
  margin-top: 64px;
  justify-self: center;
  display: grid;
  justify-content: center;
  list-style-type: none;
  grid-template-columns: auto;
  border: none;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 3px 3px 3px 2px rgba(82, 82, 82, 0.13);
  background-color: var(--mainL-color);
  overflow: hidden;
  .send-button {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 6px 12px;
    justify-self: center;
    transition: transform 300ms ease;
    &:hover {
      transform: scale(1.12);
    }
  }
  form {
    color: var(--main-color);
    display: grid;
    justify-content: center;
    list-style-type: none;
    grid-template-columns: auto;
    input {
      transition: transform 300ms ease;
      &::placeholder {
        color: var(--mainL-color);
        text-align: center;
      }
      &:focus {
        outline-color: var(--mainL-color);
        transform: scale(1.015);
      }
      border: none;
      color: var(--main-color);
      padding: 5px;
      margin-bottom: 32px;
      border-radius: 2px;
    }
    textarea {
      transition: transform 300ms ease;
      &::placeholder {
        color: var(--mainL-color);
        text-align: center;
      }
      &:focus {
        outline-color: var(--mainL-color);
        border: solid 2px var(--mainL-color);
        transform: scale(1.015);
      }
      padding: 5px;
      border: none;
      border-radius: 2px;
      height: 300px;
      max-width: 500px;
      min-width: 320px;
      color: var(--main-color);
    }
  }
  &:hover {
    border: solid 2px var(--mainL-color);
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      forwards;
  }
}
