.layout-footer {
  background-color: var(--main-color);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: var(--textD-color);
  .contact-link {
    justify-self: center;
  }
  .author-link {
    margin-left: 12px;
  }
  a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      transform: scale(1.015);
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
