.layout-footer {
  background-color: var(--main-color);
  overflow: hidden;

  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  color: var(--textD-color);
  a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      transform: scale(1.015);
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
