.layout-footer {
  background-color: var(--main-color);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  color: var(--textD-color);
}
