header {
  background: var(--main-color);
  position: fixed;
  width: 100vw;
  height: 65px;
  display: grid;
  z-index: 1000;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  .branding {
    color: var(--sec-color);
    width: 200px;
    height: 40px;
  }
  h1 {
    font-size: 22px;
    margin-left: 10px;
  }
  .main-logo {
    color: var(--sec-color);
    position: fixed;
    top: 4px;
    left: calc(50% - 45px);
    margin: 0;
    .logo {
      width: 90px;
      height: 90px;
      background-color: var(--mainL-color);
      border-radius: 100px;
      padding: 9px;
    }
  }
  .active {
    color: var(--sec-color);
    text-shadow: 0 0 4px rgb(0, 0, 0);
  }

  nav {
    position: relative;
    justify-self: end;
    align-self: center;
    margin-right: 55px;
    .header-nav-links {
      position: relative;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .cart-link {
      position: absolute;
      top: -4px;
      .amount {
        position: absolute;
        top: 9px;
        left: 9px;
        font-weight: 900;
        font-size: 0.83rem;
        color: var(--mainD-color);
        border-radius: 100%;
      }
    }
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 18px;
    &:hover {
      color: var(--sec-color);
      text-shadow: 0 0 5px black;
    }
  }
}
@media only screen and (max-width: 750px) {
  header {
    grid-template-columns: auto auto;
    nav {
      top: -15px;
    }
    .main-logo {
      margin: 0 2px;
      position: relative;
    }
  }
  .hidden-links-low {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .hidden-links-high {
    display: none;
  }
}
.sub-header {
  position: fixed;
  display: none;
  top: 60px;
  z-index: 1000;
  width: 40vw;
  left: 29vw;
  grid-template-columns: auto auto auto;
  background: linear-gradient(0deg, var(--mainL-color), var(--main-color));
  text-align: center;
  color: black;
  overflow: hidden;
  p {
    border-style: ridge;
    border-width: 0px 1px 0px 1px;
  }
  @media only screen and (max-width: 1040px) {
    width: 100%;
    left: 0;
    p {
      font-size: 10px;
    }
  }
}
