main {
  margin-top: 60px;
  padding-top: 5px;
  width: 100vw;
  align-self: center;
  flex-grow: 1;
  text-align: center;
  display: grid;
}

body {
  background: linear-gradient(120deg, transparent, rgba(255, 0, 43, 0.11)),
    repeating-linear-gradient(
      45deg,
      rgba(255, 192, 203, 0.125) 0%,
      rgba(255, 192, 203, 0.075) 8%,
      white 8%,
      white 12%
    );
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Sticky footer
}
.card-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  grid-row-gap: 20px;
  perspective: 1000;
  @media only screen and (max-width: 1340px) {
    grid-template-columns: auto auto auto;
  }
  @media only screen and (max-width: 1040px) {
    grid-template-columns: auto auto;
  }
  @media only screen and (max-width: 680px) {
    grid-template-columns: auto;
  }
}

.btn {
  background: var(--sec-color);
  padding: 20px 150px;
  border-radius: 20px;
}
