main {
  margin-top: 60px;
  padding-top: 5px;
  width: 100vw;
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Sticky footer
}
.card-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;

  grid-column-gap: 20px;
  grid-row-gap: 20px;
  perspective: 1000;
  @media only screen and (max-width: 1340px) {
    grid-template-columns: auto auto auto;
  }
  @media only screen and (max-width: 1040px) {
    grid-template-columns: auto auto;
  }
  @media only screen and (max-width: 680px) {
    grid-template-columns: auto;
  }
}

.btn {
  background: var(--sec-color);
  padding: 20px 150px;
  border-radius: 20px;
}
