.Product_Pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: start;
  background-color: rgb(255, 255, 255);
  @media only screen and (max-width: 1040px) {
    justify-content: center;
    gap: 35px;
    grid-template-columns: auto;
  }

  .product-info-container {
    position: relative;
    display: grid;
    padding: 20px;
    background-color: rgba(255, 196, 247, 0.301);
    min-height: calc(100vh - 109px);
    justify-content: center;
    align-content: space-between;
    .title {
      font-weight: 800;
      margin-top: 20px;
      margin-bottom: 17px;
      max-width: 75%;
      justify-self: center;
      @media only screen and (max-width: 1040px) {
        max-width: 95%;
      }
    }
    .description {
      justify-self: center;
      margin-bottom: 13px;
      width: 35vw;
      text-align: justify;
      @media only screen and (max-width: 1040px) {
        width: 90vw;
      }
    }
    .more {
      color: rgb(63, 63, 63);
      margin-bottom: 13px;
      overflow-y: hidden;
      width: 35vw;
      justify-self: center;
      @media only screen and (max-width: 1040px) {
        width: 90vw;
      }
    }

    .info-price {
      position: absolute;
      top: 30px;
      margin-left: 0px;
      border-radius: 5px;
      border: none;
      font-weight: 900;
      font-size: 1rem;
      top: 6;
      left: 20px;
      padding: 5px 12px;
      background-color: var(--secD-color);
      color: var(--text-color);
      cursor: default;
      &:hover {
        background-color: var(--main-color);
      }
      @media only screen and (max-width: 1040px) {
        top: -14px;
      }
    }
    .info-add-button {
      position: absolute;
      top: 30px;
      margin-left: 0px;
      border-radius: 5px;
      border: none;
      font-weight: 800;
      font-size: 0.8rem;
      top: 6;
      right: 20px;
      padding: 5px 12px;
      background-color: var(--main-color);
      color: var(--text-color);
      cursor: pointer;
      &:hover {
        background-color: var(--mainL-color);
      }
      &:focus {
        outline: none;
      }
      &:active {
        transform: scale(0.87);
      }
      @media only screen and (max-width: 1040px) {
        top: -14px;
      }
    }
    @media only screen and (max-width: 1040px) {
      min-height: calc(100vh - 130px);
    }
  }
  .other-products {
    h2 {
      font-weight: 700;
      margin: 16px 0;
      color: goldenrod;
    }
    .more-item-slide {
      width: 700px;
      margin-bottom: 16px;
      @media only screen and (max-width: 1040px) {
        width: 350px;
      }
    }
  }
  // What is today?
  .Slider {
    justify-self: center;
    border-radius: 10px;
    width: 44vw;
    margin-top: 32px;
    max-width: 80vh;
    @media only screen and (max-width: 1040px) {
      margin-top: 35px;
      width: 80vw;
    }
  }
}
