.Product_Pages {
  display: grid;
  grid-template-columns: 50vw 1fr;
  justify-content: space-between;
  align-items: start;
  @media only screen and (max-width: 1040px) {
    justify-content: center;
    gap: 35px;
    grid-template-columns: 100vw;
  }
  .product-info-container {
    position: relative;
    padding: 20px;
    background-color: rgba(255, 196, 247, 0.301);
    min-height: calc(100vh - 109px);
    .title {
      font-size: 1.3rem;
      font-weight: 800;
      margin-bottom: 13px;
    }
    .description {
      font-size: 1.1rem;
      margin-bottom: 13px;
    }
    .more {
      color: rgb(63, 63, 63);
      margin-bottom: 13px;
    }
    .add-button {
      position: absolute;
      top: 15px;
      margin-left: 0px;
      border-radius: 5px;
      border: none;
      font-weight: 800;
      font-size: 0.8rem;
      top: 6;
      right: 20px;
      padding: 5px 12px;
      background-color: var(--main-color);
      color: var(--text-color);
      &:hover {
        background-color: var(--mainL-color);
      }
      &:focus {
        outline: none;
      }
      &:active {
        transform: scale(0.87);
      }
      @media only screen and (max-width: 1040px) {
        top: -14px;
      }
    }
    @media only screen and (max-width: 1040px) {
      min-height: calc(100vh - 130px);
    }
  }
  .Slider {
    justify-self: center;
    border-radius: 10px;
    width: 45vw;
    margin-top: 35px;

    @media only screen and (max-width: 1040px) {
      margin-top: 35px;
      width: 80vw;
    }
  }
}
