.Product_Pages {
  display: grid;
  grid-template-columns: 50vw 1fr;
  justify-content: space-between;
  align-items: start;
  @media only screen and (max-width: 1040px) {
    justify-content: center;
    gap: 35px;
    grid-template-columns: 100vw;
  }
  .product-info-container {
    padding: 20px;
    background-color: rgba(255, 196, 247, 0.301);
    min-height: calc(100vh - 109px);
  }
  .Slider {
    justify-self: center;
    border-radius: 10px;
    width: 45vw;
    @media only screen and (max-width: 1040px) {
      margin-top: 35px;
      width: 80vw;
    }
  }
}
.Product_Back_Button {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 5;
  color: var(--main-color);
}
