.success-form-submit {
  background-color: var(--mainL-color);
  max-width: 500px;
  margin: 64px;
  justify-self: center;
  padding: 20px;
  border-radius: 5px;
  color: var(--text-color);
  display: grid;
  .ok-button {
    justify-self: center;
    border-radius: 5px;
    padding: 20px;
    width: 150px;
    margin-top: 20px;
    background-color: var(--text-color);
    text-decoration: none;
    font-weight: 900;
    color: var(--mainL-color);
  }
}
