:root {
  --main-color: rgb(219, 18, 119, 0.7);
  --mainL-color: rgba(253, 158, 206);
  --mainD-color: rgb(102, 10, 90);
  --sec-color: #ffffff;
  --secL-color: rgb(253, 248, 178);
  --secD-color: rgb(204, 190, 0);
  --background-color: white;
  --text-color: rgb(255, 255, 255);
  --textD-color: rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Disable selection

  &::selection {
    background: #ffc0c0; /* WebKit/Blink Browsers */
  }
}
main {
  max-width: 99vw;
}
// var(--main-color)
$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "./main";
@import "./header";
@import "./footer";
@import "./itemCard";
@import "./product";
@import "./accordion";
@import "./banner";
@import "./cart";
@import "./logos/logo";

@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
