header {
  background: transparent;
  a {
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: var(--sec-color);
      text-shadow: 0 0 5px black;
    }
  }
  .header-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .active {
      color: var(--sec-color);
      text-shadow: 0 0 4px rgb(0, 0, 0);
    }
  }
  @media only screen and (max-width: 1040px) {
    h1 {
      font-size: 22px;
    }
  }
}

.sub-header {
  width: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(224, 236, 251) 100%
  );
  text-align: center;
  color: black;
  p {
    border-style: ridge;
    border-width: 0px 1px 0px 1px;
  }
  @media only screen and (max-width: 1040px) {
    width: 100vw;
    p {
      font-size: 10px;
    }
  }
}
