* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Disable selection
  user-select: none;
}
header {
  background: transparent;
  a {
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: var(--sec-color);
      text-shadow: 0 0 5px black;
    }
  }
  .header-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .active {
      color: var(--sec-color);
      text-shadow: 0 0 4px rgb(0, 0, 0);
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Sticky footer
  main {
    padding-top: 5px;
    align-self: center;
    flex-grow: 1;
    text-align: center;
  }
}
.sub-header {
  width: 50vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(224, 236, 251) 100%
  );
  text-align: center;
  color: black;
  p {
    border-style: ridge;
    border-width: 0px 1px 0px 1px;
  }
}
.layout-footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}
.btn {
  background: var(--sec-color);
  padding: 20px 150px;
  border-radius: 20px;
}
