$backround-color: white;
$main-color: rgb(173, 27, 218);
$secondary-color: rgb(255, 243, 73);
$light-color: rgb(255, 253, 136);
$text-color: rgb(255, 255, 255);
$text-color-dark: rgb(0, 0, 0);
@import "./layout";
@import "./barAnimation";
@import "./main";
@import "./itemCard";
@import "./logos/logo";
